.Banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

h1, h2, h3 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-weight: normal;
}

h1 {
    font-weight: bold;
}
